/* body {

} */

#banner {
    width: 100%;
}

.principal {
  background-color: #CCCCCC;
  padding: 30px;
}

.titulo-principal {
  padding-left: 20px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;
}

#missao {
  font-size: 20px;
}

em strong {
  color: #435ba8;
}

.beneficios {
  background: #FFFFFF;
  padding: 20px;
}

.imgbeneficios {
  width: 50%;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.items {
  font-style: italic;
}
